[submodule "lib/cpr"]
	path = src/backend/lib/cpr
	url = https://github.com/libcpr/cpr.git
[submodule "lib/spdlog"]
	path = src/backend/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/tinyxml2"]
	path = src/backend/lib/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
